.head{
    display:flex;
    justify-content: end;
    align-items: center;
    top:0px;
    left:0px;
    width:100%;
    background-image: url(header\ pattern\ image.png) ;
    opacity:1;
    height: 56px;
    background-color:$blackcolor;
    padding-bottom:5px;

    .nav_link{
        margin-right: 25px;
        list-style: none; 
    }
    li{
        color:white;
        display: inline-block;
        margin:19px 10px 19px 0px;
        padding:18px;
        margin-bottom:23px;
    }
    a{
        color:$textcolor;
        text-decoration: none; 
    }
    a:hover{
        color:white;
        text-decoration: underline;
    }
}

