@mixin badges{
    position: absolute;
    background-color: blue;
    color:white;
    border-radius: 50%;
    top:8px;
    width: 15px;
    height:15px;
    margin-left:-10px;
    padding-left:4px;
}

@mixin es{
    width:25px;
    height:25px;
}
    
@mixin e1s{
        width:25px;
        height:25px;
        opacity: 0.5;
}
@mixin ps{
margin-top: 0px;
font-family: "Quicksand", sans-serif;
font: normal normal medium 12px/16px Quicksand;
}
@mixin premaintext{
margin-top: 24px;
margin-bottom: 20px;
margin-left:13px;
height: 20px;
text-align: left;
}
@mixin premainsection{
margin-top: 18px;
margin-bottom:14px;
width: 21px;
height: 32px;
margin-left: 300px;
}
@mixin cont{
background-color: white;
display:grid;
grid-template-columns: 200px auto auto;
grid-template-rows: 250px auto;
}
@mixin imgcont{
display:block;
margin:24px 24px 50px 24px;
width: 152px;
height: 177px;
}
@mixin cons{
font-family: "Quicksand", sans-serif;
color:#666666;
display:inline-block;
justify-content: center;
margin-bottom:50px;
margin-top: 25px;
margin-right: 100px;
width:300px;
}
@mixin favs{
margin-top:25px;
margin-right: 3px;
}
@mixin ps{
margin-top: 0px;
font-family:$font;
font: normal normal medium 12px/16px Quicksand;
}
@mixin futs{
display:flex;
background-color:white;
width: 725px;
grid-column: 1/4;
grid-row: 2/3;
justify-content: space-around;
padding-top :15px;
padding-bottom: 3px;
}