.premain{
    display:flex;
    margin:24px;
    height:64px;
    background-color:$textcolor;
    justify-content:left;
    
    .courses{
        display: flex;
        width:50%;
        border-color: $blackcolor;
        border-bottom-style:solid;
        border-bottom-width: 4px;
        .cor{
            @include premainsection();
        }
        .text1{
                @include premaintext();

        }
    }
    .classes{
        display: flex;
        width: 50%;
    }
    .cls{
            @include premainsection();
    }
    .text2{
            @include premaintext();
    }
}