.head {
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    background-image: url(header\ pattern\ image.png);
    opacity: 1;
    height: 56px;
    background-color: black;
    padding-bottom: 5px;
  }
  .head .nav_link {
    margin-right: 25px;
    list-style: none;
  }
  .head li {
    
    color: white;
    display: inline-block;
    margin: 19px 10px 19px 0px;
    padding: 18px;
    margin-bottom: 23px;
  }
  .head a {
    display:block;
    color: #3FD28B;
    text-decoration: none;
  }
  .head a:hover {
    color: white;
    text-decoration: underline;
  }
  .badge{
    position: absolute;
    background-color: blue;
    color:white;
    border-radius: 50%;
    top:6px;
    width: 15px;
    height:15px;
    margin-left:-10px;
    padding-left:4px;
    padding-bottom: 5px;
  } 
  .dropbtn{
    position: absolute;
    visibility: hidden;
  }
  .dropdown-content a {
    color:#3FD28B ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-items: start;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    min-width: 200px;
    right:60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
  }
  .dropdown-content-1 a {
    color:#3FD28B ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-items: start;
  }
  .dropdown-content-1{
    display: none;
    position: absolute;
    min-width: 200px;
    right:200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
  }
  .dropdown-content-2 a {
    color:#3FD28B ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-items: start;
  }
  .dropdown-content-2{
    display: none;
    position: absolute;
    min-width: 200px;
    right:270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
  }

  .dropbtn:hover{
    .dropdown-content{
      display: block;
    }
    .dropdown-content a{
      color:#3FD28B ;
      text-decoration: none; 
    }
  }

  .announcement:hover{
    .dropdown-content-1{
      display: block;
    }
    .dropdown-content-1 a{
      color:black ;
      text-decoration: none; 
    }
  }

  .alert:hover{
    .dropdown-content-2{
      display: block;
    }
    .dropdown-content-2 a{
      color:black ;
      text-decoration: none; 
    }
  }

  .dropdown-content a:hover {background-color:#F3F3F3;}
  .dropdown-content-1 a:hover {background-color:#FFFFEE;}
  .dropdown-content-2 a:hover {background-color:#FFFFEE;}

  
  .premain {
    display: flex;
    margin: 24px;
    height: 64px;
    background-color: #3FD28B;
  }
  .premain .courses {
    display: flex;
    width: 50%;
    border-color: black;
    border-bottom-style: solid;
    border-bottom-width: 4px;
  }
  .premain .courses .cor {
    margin-top: 18px;
    margin-bottom: 14px;
    width: 21px;
    height: 32px;
    margin-left: 300px;
  }
  .premain .courses .text1 {
    margin-top: 24px;
    margin-bottom: 20px;
    margin-left: 13px;
    height: 20px;
  }
  .premain .classes {
    display: flex;
    width: 50%;
  }
  .premain .cls {
    margin-top: 18px;
    margin-bottom: 14px;
    width: 21px;
    height: 32px;
    margin-left: 300px;
  }
  .premain .text2 {
    margin-top: 24px;
    margin-bottom: 20px;
    margin-left: 13px;
    height: 20px;
    text-align: left;
  }
  
  .container {
    display: grid;
    border-top-color: red;
    grid-template-columns: 725px 725px;
    grid-template-rows: 300px 300px;
    grid-gap: 24px;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
  }
  .container .cont1 {
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 250px auto;
  }
  .container .img1 {
    display: block;
    margin: 24px 24px 50px 24px;
    width: 152px;
    height: 177px;
  }
  .container .cont2 {
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 250px auto;
  }
  .container .img2 {
    display: block;
    margin: 24px 24px 50px 24px;
    width: 152px;
    height: 177px;
  }
  .container .cont3 {
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 250px auto;
  }
  .container .img3 {
    display: block;
    margin: 24px 24px 50px 24px;
    width: 152px;
    height: 177px;
  }
  .container .cont4 {
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 250px auto;
  }
  .container .img4 {
    display: block;
    margin: 24px 24px 50px 24px;
    width: 152px;
    height: 177px;
  }
  .container .con {
    font-family: "Quicksand", sans-serif;
    color: #666666;
    display: inline-block;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 25px;
    margin-right: 100px;
    width: 300px;
    margin-top: 0px;
    font-family: "Quicksand", sans-serif;
    font: normal normal medium 12px/16px Quicksand;
  }
  .container .fav {
    margin-top: 25px;
    margin-right: 3px;
  }
  .container .fut {
    display: flex;
    background-color: white;
    width: 725px;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 3px;
  }
  .container .f1 {
    margin-top: 25px;
    margin-right: 3px;
    opacity: 0.3;
  }
  
  .nav2 {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    background-color: #EEEEEE;
  }
  .nav2 .n {
    padding-top: 35px;
    padding-left: 37px;
  }
  .nav2 .n a {
    color: #3FD28B;
    text-decoration: none;
  }
  
  .foot {
    background-color: #E0E1E1;
    height: 50px;
    width: 100%;
    left: 0px;
  }
  .foot .ftt {
    display: flex;
    justify-content: center;
  }
  .foot .lastline {
    display: inline;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Quicksand", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #666666;
  }
  .foot .i {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #EEEEEE;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
  }
  
  .logo {
    position: absolute;
    margin-bottom: 0px;
    opacity: 1;
    top: 10px;
    left: 30px;
    cursor: pointer;
  }
  
  .hd {
    color: black;
    margin-top: 24px;
  }
  
  .e {
    width: 25px;
    height: 25px;
  }
  
  .e1 {
    width: 25px;
    height: 25px;
    opacity: 0.5;
  }
  
  .premain1 {
    display: flex;
    justify-content: space-between;
    margin: 24px;
    margin-bottom: 0px;
    height: 54px;
    background-color: #EEEEEE;
    font-family: "Quicksand", sans-serif;
    align-items: center;
  }
  .premain1 .t1 {
    color: #686868;
  }
  .premain1 .t2 {
    color: #686868;
  }
  .premain1 .t2 .option1 {
    width: 300px;
    font-family: "Quicksand", sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(198, 185, 185);
    border-bottom-width: 2px;
    font-weight: bolder;
    background-color: #EEEEEE;
  }
  .premain1 .t2 option {
    font-weight: bolder;
    color: black;
    background-color: #EEEEEE;
  }
  .premain1 .t2 .arrow {
    margin-left: 20px;
  }
  
  .container {
    display: grid;
    padding: 16px;
    margin-top: -5px;
    border-style: solid;
    border-top-color: rgb(201, 193, 193);
    border-width: 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-left: 24px;
    margin-right: 24px;
    grid-template-columns: 725px 725px;
    grid-template-rows: 300px 300px;
    grid-gap: 24px;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
  }
  .container .cont1 {
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 250px auto;
  }
  .container .img1 {
    display: block;
    margin: 24px 24px 50px 24px;
    width: 152px;
    height: 177px;
  }
  .container .cont2 {
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 250px auto;
  }
  .container .img2 {
    display: block;
    margin: 24px 24px 50px 24px;
    width: 152px;
    height: 177px;
  }
  .container .cont3 {
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 250px auto;
  }
  .container .img3 {
    display: block;
    margin: 24px 24px 50px 24px;
    width: 152px;
    height: 177px;
  }
  .container .cont4 {
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 250px auto;
  }
  .container .img4 {
    display: block;
    margin: 24px 24px 50px 24px;
    width: 152px;
    height: 177px;
  }
  .container .con {
    font-family: "Quicksand", sans-serif;
    color: #666666;
    display: inline-block;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 25px;
    margin-right: 100px;
    width: 300px;
    margin-top: 0px;
    font-family: "Quicksand", sans-serif;
    font: normal normal medium 12px/16px Quicksand;
  }
  .container .fav {
    margin-top: 25px;
    margin-right: 3px;
  }
  .container .fut {
    display: flex;
    background-color: white;
    width: 725px;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 3px;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-color: rgb(201, 200, 200);
    border-top-width: 2px;
  }
  .container .f1 {
    margin-top: 25px;
    margin-right: 3px;
    opacity: 0.3;
  }
  
  .foot {
    background-color: #E0E1E1;
    height: 50px;
    width: 100%;
    left: 0px;
  }
  .foot .ftt {
    display: flex;
    justify-content: center;
  }
  .foot .lastline {
    display: inline;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Quicksand", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #666666;
  }
  .foot .i {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
  }
  
  .a {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(177, 165, 165);
    border-bottom-width: 2px;
    width: 200px;
    height: 25px;
    font-size: large;
    color: black;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
  }
  
  #b {
    margin-top: -10px;
  }/*# sourceMappingURL=style.css.map */


  @media (max-width:768px){
    .tool{
        background-color: red;   
    }
    .tool{
        background-color: red;  
    }
    .tool{
        background-color: red;
    }
    .container {
        display: block;
        margin-top: 24px;
        margin-bottom:-50px
    }
    .head{
        min-width: 0 auto;
        margin:0px auto;
        padding:5px;
    }
    .cont1{
        margin-bottom: 24px;
    }
    .cont2{
        margin-bottom: 24px;
    }
    .cont3{
        margin-bottom: 24px;
    }
    .cont4{
        margin-bottom: 24px;
    }
    .cor{
        margin-left: -150px;
    }
    .cls{
        margin-left: -150px;
    }
    .premain1 .t2 .option1 {
        width: 100px;
    }
    .nav_link{
      visibility: hidden;
    }
    .alert{
      display: flex;
      visibility: visible;
      background-color: yellow;
    }
    .announcement{
      display: inline;
      visibility: visible;
      background-color: red;
    }
    .account{
      visibility: visible;
      background-color: green;
    }
    .dropbtn{
      position: absolute;
      visibility: visible;
      background-color: aqua;
    }
  }
  
  
